<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sell a Rubik's cube
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">  <!-- padding vertical class of scale 4 -->
  <%= render 'form', cube: @cube %> <!-- rendering and passignt through the form, need access to cube -->
</div>

<%= link_to 'Back', cubes_path, :style=>'color:#2729A2;' %>